/* Set the properties for the calculation display */
#display {
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 20px;
    border: 1px solid black;
    background-color: darkgrey;
    text-align: right;
    font-size: 36px;
    height: 100%;
    width: 100%;
}

/* Set the properties for the history cell */
#history {
    height: 40px;
    padding-right: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: darkgrey;
    text-align: right;
    font-size: 20px;
}


/* Set table size and style */
#calculator {
    max-width: 600px;
    margin-top: 50px;
    height: 600px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

/* Calculator based on table - set sizes based on 600px width */
#calculator tr, #calculator td {
    background-color: lightgrey;
    border: 2px solid black;
    width: 150px;
}

/* Set the calculator font and button size */
#calculator button {
    font-size: 24px;
    min-width: 75px;
}

/* Set button properties */
.btn, .execute {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Mobile breaks without this - take online source */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  border-radius: 0;
}

/* Button colors for some buttons */
.color {
    background-color: rgb(140, 146, 172);
}

/* Default Background color */
body {
    background-color: #ecf7fc;
}

/* Compatibility with mobile devices */
@media only screen and (max-width: 600px) {
    #calculator {
        width: 100%;
        max-width: inherit;
    }
    #calculator tr, #calculator td {
        max-width: inherit;
    }
}

@media only screen and (min-width: 600px) {
    #calculator {
        width: 600px;
    }

}
