#display {
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 20px;
    border: 1px solid black;
    background-color: darkgrey;
    text-align: right;
    font-size: 36px;
    height: 100%;
    width: 100%;
}

#history {
    height: 40px;
    padding-right: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: darkgrey;
    text-align: right;
    font-size: 20px;
}

#calculator {
    max-width: 600px;
    margin-top: 50px;
    height: 600px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

#calculator tr, #calculator td {
    background-color: lightgrey;
    border: 2px solid black;
    width: 150px;
}

#calculator button {
    font-size: 24px;
    min-width: 75px;
}

.btn, .execute {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: inherit;
}

/* Set all buttons to not be circular in mobile */
/* Why are the BUTTONS CIRCULAR WITHOUT THIS BLOCK I ALREADY SET THIS IN THE OTHER ONE WHY*/
button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
}

/* Mobile breaks without this - take online source */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* Button colors for some buttons */
.color {
    background-color: rgb(140, 146, 172);
}

/* Default Background color */
body {
    background-color: #ecf7fc;
}

/* Compatibility with mobile devices */
@media only screen and (max-width: 600px) {
    #calculator {
        width: 100%;
        max-width: inherit;
    }
    #calculator tr, #calculator td {
        max-width: inherit;
    }
}

@media only screen and (min-width: 600px) {
    #calculator {
        width: 600px;
    }

}
